version: 2.1

jobs:
  Intro:
    docker:
      - image: cimg/base
    
    steps:
      - checkout
      - run:
          name: "List Files in Repo"
          command: |
            echo First Success
            ls -la
      
      - run:
          name: "Save to file"
          command: |
            echo Saving to text > save.txt
            cat save.txt
  
  Install-Node:
    docker:
      - image: cimg/node:17.2
    
    steps:
      - run:
          name: "Node Version"
          command: node -v

workflow:
  say-hello-workflow:
    jobs:
      - Intro
      - Install-Node:
          requires:
            - Hello